In [1]:
#--------------------------------
## IMPORTS
#--------------------------------
import sys
import os

# set the path to find the modules
#sys.path.insert(0, '../src/') #use relative path
os.chdir("../005_src")

from config_GCN_018 import *

----------------------------------------
Packages import successful
Variables import successful
Helper Functions import successful
Functions import successful
Functions xml import successful
Functions graph import successful
Functions GCN import successful
Functions Data Adjustments import successful
Custom loss imported
Functions Plotting import successful
Functions Plotting import successful
----------------------------------------
root directory: /storage/remote/atcremers50/ss21_multiagentcontrol/
input directory: /storage/remote/atcremers50/ss21_multiagentcontrol/004_data/
output directory: /storage/remote/atcremers50/ss21_multiagentcontrol/006_model_output/
----------------------------------------

----------------------------------------
root directory: /storage/remote/atcremers50/ss21_multiagentcontrol/
input directory: /storage/remote/atcremers50/ss21_multiagentcontrol/004_data/
output directory: /storage/remote/atcremers50/ss21_multiagentcontrol/006_model_output/
----------------------------------------

In [2]:
#--------------------------------
## WARNINGS MUTED
#--------------------------------
pd.options.mode.chained_assignment = None
plt.rcParams.update({'figure.max_open_warning': 0})

In [3]:
### old inputs with intention right, left, u turn
#input_file_name = "20210710-20h38m27s_timesteps14930_ec3500_em7000" #15000
#input_file_name = "20210711-17h59m44s_timesteps30000_ec3500_em7000" #30000
#input_file_name = "20210710-11h46m35s_timesteps200_ec3500_em7000"

### new inputs with intention N,S,E,W,C
#input_file_name = "20210724-19h49m31s_timesteps150000_ec3500_em7000"
#input_file_name = "20210725-16h24m21s_timesteps200_ec3500_em7000"

input_file_name = "20210812-15h45m39s_timesteps199_ec3500_em7000"

In [4]:
print (f"\n> SELECTING INPUT ROWS")
df_all,df_selected = select_rows_from_data(input_file_name,drop_col = True)
print (f"\n> CORRECTING COLUMNS DATA_POS, DATA_Y_POS, DATA_Y_YAW")

> SELECTING INPUT ROWS
---------------------------
<class 'pandas.core.frame.DataFrame'>
---------------------------

> CORRECTING COLUMNS DATA_POS, DATA_Y_POS, DATA_Y_YAW

In [5]:
df_all

,data_x,data_pos,data_edges,data_edges_renamed,data_y,data_edges_attr,training_row
5,"[[180.0, 5.52, 2.0, 1.79], [0.0, 0.0, 0.0, 0.0]]","[[98.4, 183.26], [101.6, 5.1]]","[[0], [1]]","[[0], [1]]","[[98.4, 126.41, 180.0], [101.6, 40.16, 0.0]]",[1.4000000000000001],True
6,"[[180.0, 7.61, 2.0, 2.09], [0.0, 2.22, 0.0, 2....","[[98.4, 175.65], [101.6, 7.32]]","[[0], [1]]","[[0], [1]]","[[98.4, 109.06, 180.0], [101.6, 53.66, 0.0]]",[1.4000000000000001],True
7,"[[180.0, 9.13, 2.0, 1.51], [0.0, 4.73, 0.0, 2....","[[98.4, 166.53], [101.6, 12.05]]","[[0], [1]]","[[0], [1]]","[[98.4, 90.44, 180.0], [101.6, 68.52, 0.0]]",[1.4000000000000001],True
8,"[[180.0, 11.68, 2.0, 2.56], [0.0, 7.07, 0.0, 2...","[[98.4, 154.84], [101.6, 19.12]]","[[0], [1]]","[[0], [1]]","[[98.4, 71.75, 180.0], [101.6, 84.45, 0.0]]",[1.6],True
9,"[[180.0, 12.99, 2.0, 1.31], [0.0, 9.36, 0.0, 2...","[[98.4, 141.86], [101.6, 28.47]]","[[0], [1]]","[[0], [1]]","[[98.4, 52.87, 180.0], [101.6, 100.01, 0.0]]",[1.7999999999999998],True
...,...,...,...,...,...,...,...
191,"[[90.0, 0.0, 4.0, 0.0], [180.0, 0.0, 4.0, 0.0]...","[[91.8, 98.4], [98.4, 108.2], [139.47, 101.6]]","[[16, 16, 17], [17, 18, 18]]","[[0, 0, 1], [1, 2, 2]]","[[96.63, 98.4, 90.0], [98.4, 108.2, 180.0], [1...","[16.2, 3.5, 3.7]",True
192,"[[90.0, 0.0, 4.0, 0.0], [180.0, 0.0, 4.0, 0.0]...","[[91.8, 98.4], [98.4, 108.2], [126.01, 101.6]]","[[16, 16, 17], [17, 18, 18]]","[[0, 0, 1], [1, 2, 2]]","[[101.79, 98.4, 90.0], [98.4, 108.2, 180.0], [...","[16.2, 5.3, 5.6]",True
193,"[[90.0, 0.0, 4.0, 0.0], [180.0, 0.0, 4.0, 0.0]...","[[91.8, 98.4], [98.4, 108.2], [116.57, 101.6]]","[[16, 16, 17], [17, 18, 18]]","[[0, 0, 1], [1, 2, 2]]","[[108.59, 98.4, 90.0], [98.4, 108.2, 180.0], [...","[16.2, 8.0, 8.6]",True
194,"[[90.0, 0.0, 4.0, 0.0], [180.0, 0.0, 4.0, 0.0]...","[[91.8, 98.4], [98.4, 108.2], [110.43, 101.6]]","[[16, 16, 17], [17, 18, 18]]","[[0, 0, 1], [1, 2, 2]]","[[117.44, 98.4, 90.0], [98.4, 108.2, 180.0], [...","[16.2, 12.1, 13.1]",True
195,"[[90.0, 1.72, 4.0, 1.72], [180.0, 0.0, 4.0, 0....","[[93.51, 98.4], [98.4, 108.2], [108.78, 101.6]]","[[16, 16, 17], [17, 18, 18]]","[[0, 0, 1], [1, 2, 2]]","[[128.03, 98.4, 90.0], [98.4, 108.2, 180.0], [...","[16.6, 14.399999999999999, 15.299999999999999]",True

In [6]:
df_all.data_x.iloc[0][0]

[180.0, 5.52, 2.0, 1.79]

In [7]:
  
# for now we take only the coherent rows
df_input = adjust_columns_2(df_selected)
printif(f"selected {len(df_input)} coherent rows over {len(df_all)} total",printstat)

5              [[False], [False]]
6              [[False], [False]]
7              [[False], [False]]
8              [[False], [False]]
9              [[False], [False]]
                  ...
191    [[False], [True], [False]]
192    [[False], [True], [False]]
193    [[False], [True], [False]]
194    [[False], [True], [False]]
195    [[False], [True], [False]]
Name: Still_vehicle, Length: 124, dtype: object
selected 124 coherent rows over 191 total

In [10]:
df_input.columns

Index(['data_x', 'data_pos', 'data_edges', 'data_edges_renamed', 'data_y',
       'data_edges_attr', 'training_row', 'Still_vehicle', 'data_pos_zc',
       'data_y_zc', 'data_y_yaw', 'data_x_rad', 'data_x_speed', 'data_x_yaw',
       'data_x_intention', 'data_y_delta', 'all_veh_moving', 'num_veh_tot',
       'num_veh_moving', 'num_veh_still', 'data_x_acceleration'],
      dtype='object')

In [14]:
df_input[['data_x_speed', 'data_x_acceleration','Still_vehicle','data_pos_zc', 'data_y_zc']]

,data_x_speed,data_x_acceleration,Still_vehicle,data_pos_zc,data_y_zc
5,"[[5.52], [0.0]]","[[1.79], [0.0]]","[[False], [False]]","[[-1.5999999999999943, 83.25999999999999], [1....","[[-1.5999999999999943, 26.409999999999997], [1..."
6,"[[7.61], [2.22]]","[[2.09], [2.22]]","[[False], [False]]","[[-1.5999999999999943, 75.65], [1.599999999999...","[[-1.5999999999999943, 9.060000000000002], [1...."
7,"[[9.13], [4.73]]","[[1.51], [2.51]]","[[False], [False]]","[[-1.5999999999999943, 66.53], [1.599999999999...","[[-1.5999999999999943, -9.560000000000002], [1..."
8,"[[11.68], [7.07]]","[[2.56], [2.34]]","[[False], [False]]","[[-1.5999999999999943, 54.84], [1.599999999999...","[[-1.5999999999999943, -28.25], [1.59999999999..."
9,"[[12.99], [9.36]]","[[1.31], [2.29]]","[[False], [False]]","[[-1.5999999999999943, 41.860000000000014], [1...","[[-1.5999999999999943, -47.13], [1.59999999999..."
...,...,...,...,...,...
191,"[[0.0], [0.0], [13.68]]","[[0.0], [0.0], [1.51]]","[[False], [True], [False]]","[[-8.200000000000003, -1.5999999999999943], [-...","[[-3.3700000000000045, -1.5999999999999943], [..."
192,"[[0.0], [0.0], [13.46]]","[[0.0], [0.0], [-0.22]]","[[False], [True], [False]]","[[-8.200000000000003, -1.5999999999999943], [-...","[[1.7900000000000063, -1.5999999999999943], [-..."
193,"[[0.0], [0.0], [9.43]]","[[0.0], [0.0], [-4.03]]","[[False], [True], [False]]","[[-8.200000000000003, -1.5999999999999943], [-...","[[8.590000000000003, -1.5999999999999943], [-1..."
194,"[[0.0], [0.0], [6.14]]","[[0.0], [0.0], [-3.29]]","[[False], [True], [False]]","[[-8.200000000000003, -1.5999999999999943], [-...","[[17.439999999999998, -1.5999999999999943], [-..."
195,"[[1.72], [0.0], [1.65]]","[[1.72], [0.0], [-4.5]]","[[False], [True], [False]]","[[-6.489999999999995, -1.5999999999999943], [-...","[[28.03, -1.5999999999999943], [-1.59999999999..."